body {
  background: #0f2027;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1c2b36;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #00c6ff;
  color: black;
  font-weight: bold;
    }
